/* Apply the font to the body */
body,
button,
container {
  font-family: "Georgia", serif;
  font-variant: small-caps;
  font-size: 12px; /* You can adjust the font size as needed */
}
.container {
  margin-top: 20px;
}
.form-group {
  margin-bottom: 15px;
}

.container {
  width: 1000pk;
  background-color: #fff;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  padding: 20px;
  margin-top: 20px;
}
body {
  background-color: #88abce;
}
.navbar {
  background-color: #88abce !important;
}
.navbar-brand {
  color: #402424;
  font-weight: bold;
}
.navbar-nav .nav-link {
  color: #3e3232 !important;
}

